{% extends 'admin/adminindex.html' %}
{% block body %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered table-hover" bgcolor="#222">
    <tr>
      <th>S .no</th>
      <th>Date</th>
      <th>User</th>
      <th>Feedback</th>

    </tr>

      {% for i in data %}
    <tr>
      <td height="143">&nbsp;{{ forloop.counter }}</td>
              <td>&nbsp;{{ i.date }}</td>

      <td>&nbsp;{{ i.USER.name}}<br>{{ i.USER.email }}</td>
      <td>&nbsp;&nbsp;{{ i.feedback }}</td>

{#      <td><img src="{{ i['photo'] }}" alt="img" height="80px" width="80px" ></td>#}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
